@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

/* Nav section start */

.container{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1.5rem;
    height: 10vh;
    border-bottom: 3px solid #9E4F85;
    padding: 0 2rem;
}

nav{
    background-color:#35424A ;
}

.logo a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 600; 
}
 
.logo span{
     color:#A8508B;
     font-size: 1.5rem;
     font-weight: 600; 
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem 2rem;
     
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: ease-in 1000ms;
}

.nav-bar a:hover{
   color:#9E4F85;
   border-bottom: 2px solid #9E4F85;

}

/* Nav section end */

/* Hero section start */

.hero{
    
    color: white;
    background-image: url(./img/showcase.jpg);
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.hero h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.hero p{
   font-size: 1rem;
}
/* Hero section end */


/* Subscribe section start */
.subscribe{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #35424A;
    color: white;
}

.subscribe h3{
    font-size: 1rem;
}

.email input {
    font-size: 0.8rem;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
}

.email button {
    font-size: 0.8rem;
    padding: 5px 15px;
    background-color: #E8491D;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

/* Subscribe section end */


/* Main section start */
.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    min-height: 30vh;
    background-color: #F4F4F4;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 1rem;
    text-align: center;
}



.card img{
    width:75px
}

.card h5{
    font-size: 1rem;
}

.card p{
   font-size: 0.8rem;
}

/* Main section end */


/* Footer section start */
.footer{
    background-color: #35424A;
    min-height: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 1rem 0;
   gap: 5px;
}

.footer img{
    width: 200px;
}

.footer p{
    font-size: 0.7rem;
}
/* Footer section end */


/* -----------------------ABOUT PAGE-------------------------- */


/* About-Main section start */
.about-main{
    min-height: 70vh;
    padding: 2rem;
    display: flex;
    gap:0 2rem;
}

.about--main__left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.par-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about--main__left p{
 font-size: 1rem;
 line-height: 1.5rem;
 
}
.p-2, .p-3{
    background-color: #35424A;
    color: white;
    padding: 1rem;
}

.about--main__right p{
    font-size: 1rem;
    line-height: 1.5rem;
   
   
}


/* About-Main section end */


/* -----------------------SERVICES PAGE-------------------------- */

/* Services-Main section start */
.services--main{
    padding: 2rem;
    display: flex;
    gap: 0 10rem;
    min-height: 70vh;
}

.services-left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    gap: 1rem;
    flex: 3;
}

.services-card{
    background-color: #e6e6e6;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    padding: 1rem;
    
}

.services-card h5{
    font-size: 1rem;
}

.services-card p{
    font-size: 0.8rem;
}


.services-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 200px;

}

.form{
    padding: 2rem;
    background-color: #35424A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .8rem;
}

.form label,input{
    font-size: 1rem;
    height: 2rem;    
}

.form input{
    padding-left: 1rem;    
}

.form button{
    font-size: 1rem;
    width: fit-content;
    padding: 5px 15px;
    background-color: #E8491D;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}
/* Services-Main section end */